In [1]:
# Importando os módulos:
import pandas as pd
import folium
from folium import plugins, Map
import matplotlib.pyplot as plt
import collections
import datetime
import numpy as np
from API_google import reverse_geocode

In [2]:
# Leitura do arquivo base
df = pd.read_csv(r"dataset_v01.csv", delimiter=";")
df = df.rename(columns={'id': 'ID_USUARIO', 'dat_nsc': 'DATA_NASCIMENTO', 'renda': 'RENDA', 'renda_SPEC': 'RENDA_FIXA', 'latitude': 'LATITUDE', 'longitude': 'LONGITUDE', 'tipo_pessoa': 'TIPO_PESSOA'})

# Criando novas colunas CIDADE, ESTADO e LOGRADOURO
df['CIDADE'] = 'NaN'
df['ESTADO'] = 'NaN'
df['LOGRADOURO'] = 'NaN'

# Formatação das coordenadas, trocado as virgulas por ponto e removendo registros sem coordenadas
df['LATITUDE'] = df['LATITUDE'].str.replace(',','.')
df['LONGITUDE'] = df['LONGITUDE'].str.replace(',','.')
#df.dropna(subset=['LATITUDE'], inplace=True)

In [3]:
# Utilização da API Google Maps para inserção dos dados regionais, "CIDADE" e "ESTADO"
for index, row in df.iterrows():
    try:
        result = reverse_geocode(row['LATITUDE'], row['LONGITUDE'])
        df.loc[index,'CIDADE'] = result[0]
        df.loc[index,'ESTADO'] = result[1]
        df.loc[index,'LOGRADOURO'] = result[2]
        df.loc[index,'TIPO_PESSOA'] = result[3]
    except:
        pass

In [9]:
df.head()

,ID_USUARIO,DATA_NASCIMENTO,RENDA,RENDA_FIXA,LATITUDE,LONGITUDE,TIPO_PESSOA,CIDADE,ESTADO,LOGRADOURO
0,d6c0cc1d-eb61-486a-b5c3-50725ef44d61,30/01/1981 00:00,"DE R$ 1.900,00 A R$ 3.800,00","3.104,00",-4.84758,-37.78439,CPF,Jaguaruana,Ceará,street_address
1,da0067e7-aa6b-4355-b373-ca17f6ac3b44,28/01/1978 00:00,"DE R$ 3.800,00 A R$ 7.600,00","5.703,00",-26.99011814,-48.63716523,CPF,Balneário Camboriú,Santa Catarina,street_address
2,2d729b8a-d53c-48e7-8bf5-33b021980c04,09/12/1954 00:00,"DE R$ 3.800,00 A R$ 7.600,00","3.901,00",-5.053671016,-42.81315203,CPF,Teresina,Piauí,street_address
3,62c0f1e6-36f2-4205-a134-232a58a6f8a5,28/08/1975 00:00,"DE R$ 788,00 A R$ 1.140,00","1.086,00",-15.059042,-48.163372,CNPJ,Mimoso de Goiás,Goiás,establishment
4,0cef9719-0aa3-49a2-adea-9c09c04de071,17/06/1957 00:00,"DE R$ 788,00 A R$ 1.140,00",836,-17.694658,-42.52228,CPF,Capelinha,Minas Gerais,street_address

In [6]:
# Criando arquivo csv com os dados tratados
df.to_csv('dataset_v02.csv', sep=';', encoding='utf-8')

In [21]:
# Nova data frame com os dados tratados
df_spc = pd.read_csv(r"dataset_v02.csv", delimiter=";")

In [22]:
df_spc.head()

,ID_USUARIO,DATA_NASCIMENTO,RENDA,RENDA_FIXA,LATITUDE,LONGITUDE,TIPO_PESSOA,CIDADE,ESTADO,LOGRADOURO
0,d6c0cc1d-eb61-486a-b5c3-50725ef44d61,30/01/1981 00:00,"DE R$ 1.900,00 A R$ 3.800,00","3.104,00",-4.847580,-37.784390,CPF,Jaguaruana,Ceará,street_address
1,da0067e7-aa6b-4355-b373-ca17f6ac3b44,28/01/1978 00:00,"DE R$ 3.800,00 A R$ 7.600,00","5.703,00",-26.990118,-48.637165,CPF,Balneário Camboriú,Santa Catarina,street_address
2,2d729b8a-d53c-48e7-8bf5-33b021980c04,09/12/1954 00:00,"DE R$ 3.800,00 A R$ 7.600,00","3.901,00",-5.053671,-42.813152,CPF,Teresina,Piauí,street_address
3,62c0f1e6-36f2-4205-a134-232a58a6f8a5,28/08/1975 00:00,"DE R$ 788,00 A R$ 1.140,00","1.086,00",-15.059042,-48.163372,CNPJ,Mimoso de Goiás,Goiás,establishment
4,0cef9719-0aa3-49a2-adea-9c09c04de071,17/06/1957 00:00,"DE R$ 788,00 A R$ 1.140,00",836,-17.694658,-42.522280,CPF,Capelinha,Minas Gerais,street_address

In [23]:
df_spc.groupby('TIPO_PESSOA').count()

,ID_USUARIO,DATA_NASCIMENTO,RENDA,RENDA_FIXA,LATITUDE,LONGITUDE,CIDADE,ESTADO,LOGRADOURO
TIPO_PESSOA,,,,,,,,,
CNPJ,1663,1653,1663,1663,1024,1024,1024,1024,1024
CPF,8337,8283,8337,8337,7719,7719,7719,7719,7719

In [24]:
df_spc['RENDA_FIXA'] = df_spc['RENDA_FIXA'].str.replace('.','')

<ipython-input-24-85b22b7a6b04>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df_spc['RENDA_FIXA'] = df_spc['RENDA_FIXA'].str.replace('.','')

In [25]:
df_spc

,ID_USUARIO,DATA_NASCIMENTO,RENDA,RENDA_FIXA,LATITUDE,LONGITUDE,TIPO_PESSOA,CIDADE,ESTADO,LOGRADOURO
0,d6c0cc1d-eb61-486a-b5c3-50725ef44d61,30/01/1981 00:00,"DE R$ 1.900,00 A R$ 3.800,00","3104,00",-4.847580,-37.784390,CPF,Jaguaruana,Ceará,street_address
1,da0067e7-aa6b-4355-b373-ca17f6ac3b44,28/01/1978 00:00,"DE R$ 3.800,00 A R$ 7.600,00","5703,00",-26.990118,-48.637165,CPF,Balneário Camboriú,Santa Catarina,street_address
2,2d729b8a-d53c-48e7-8bf5-33b021980c04,09/12/1954 00:00,"DE R$ 3.800,00 A R$ 7.600,00","3901,00",-5.053671,-42.813152,CPF,Teresina,Piauí,street_address
3,62c0f1e6-36f2-4205-a134-232a58a6f8a5,28/08/1975 00:00,"DE R$ 788,00 A R$ 1.140,00","1086,00",-15.059042,-48.163372,CNPJ,Mimoso de Goiás,Goiás,establishment
4,0cef9719-0aa3-49a2-adea-9c09c04de071,17/06/1957 00:00,"DE R$ 788,00 A R$ 1.140,00",836,-17.694658,-42.522280,CPF,Capelinha,Minas Gerais,street_address
...,...,...,...,...,...,...,...,...,...,...
9995,f2261fce-83c5-4f64-b145-85f46bcf18b1,08/10/1979 00:00,"DE R$ 1.900,00 A R$ 3.800,00","2776,00",-11.609372,-47.047506,CPF,Porto Alegre do Tocantins,Tocantins,route
9996,bdaa7802-4650-44a4-93f7-952b72ec17a0,30/04/1980 00:00,"DE R$ 3.800,00 A R$ 7.600,00","4099,00",-15.650497,-47.793321,CPF,Brasília,Distrito Federal,street_address
9997,e7b37cd5-714a-44d8-ad7f-4ed3aa6b0695,26/05/1976 00:00,"DE R$ 788,00 A R$ 1.140,00","1052,00",-8.330679,-36.136897,CPF,São Caetano,Pernambuco,street_address
9998,167dbd7f-7ccd-4aad-a6b9-c3fb9d56c9cd,06/11/1985 00:00,"DE R$ 788,00 A R$ 1.140,00",958,NaN,NaN,CNPJ,NaN,NaN,NaN
9999,d4f11ca2-71b1-4e12-aba6-bd8530ca2691,09/03/1981 00:00,"DE R$ 3.800,00 A R$ 7.600,00","5954,00",-15.787504,-48.139096,CPF,Brasília,Distrito Federal,premise

In [26]:
df_spc['RENDA_FIXA'] = df_spc['RENDA_FIXA'].str.replace(',','.')

In [30]:
df_spc['RENDA_FIXA'] = df_spc['RENDA_FIXA'].str.replace(' -   ','0.0')

In [34]:
df_spc['RENDA_FIXA'] = df_spc['RENDA_FIXA'].astype(float)

In [35]:
df_spc

,ID_USUARIO,DATA_NASCIMENTO,RENDA,RENDA_FIXA,LATITUDE,LONGITUDE,TIPO_PESSOA,CIDADE,ESTADO,LOGRADOURO
0,d6c0cc1d-eb61-486a-b5c3-50725ef44d61,30/01/1981 00:00,"DE R$ 1.900,00 A R$ 3.800,00",3104.0,-4.847580,-37.784390,CPF,Jaguaruana,Ceará,street_address
1,da0067e7-aa6b-4355-b373-ca17f6ac3b44,28/01/1978 00:00,"DE R$ 3.800,00 A R$ 7.600,00",5703.0,-26.990118,-48.637165,CPF,Balneário Camboriú,Santa Catarina,street_address
2,2d729b8a-d53c-48e7-8bf5-33b021980c04,09/12/1954 00:00,"DE R$ 3.800,00 A R$ 7.600,00",3901.0,-5.053671,-42.813152,CPF,Teresina,Piauí,street_address
3,62c0f1e6-36f2-4205-a134-232a58a6f8a5,28/08/1975 00:00,"DE R$ 788,00 A R$ 1.140,00",1086.0,-15.059042,-48.163372,CNPJ,Mimoso de Goiás,Goiás,establishment
4,0cef9719-0aa3-49a2-adea-9c09c04de071,17/06/1957 00:00,"DE R$ 788,00 A R$ 1.140,00",836.0,-17.694658,-42.522280,CPF,Capelinha,Minas Gerais,street_address
...,...,...,...,...,...,...,...,...,...,...
9995,f2261fce-83c5-4f64-b145-85f46bcf18b1,08/10/1979 00:00,"DE R$ 1.900,00 A R$ 3.800,00",2776.0,-11.609372,-47.047506,CPF,Porto Alegre do Tocantins,Tocantins,route
9996,bdaa7802-4650-44a4-93f7-952b72ec17a0,30/04/1980 00:00,"DE R$ 3.800,00 A R$ 7.600,00",4099.0,-15.650497,-47.793321,CPF,Brasília,Distrito Federal,street_address
9997,e7b37cd5-714a-44d8-ad7f-4ed3aa6b0695,26/05/1976 00:00,"DE R$ 788,00 A R$ 1.140,00",1052.0,-8.330679,-36.136897,CPF,São Caetano,Pernambuco,street_address
9998,167dbd7f-7ccd-4aad-a6b9-c3fb9d56c9cd,06/11/1985 00:00,"DE R$ 788,00 A R$ 1.140,00",958.0,NaN,NaN,CNPJ,NaN,NaN,NaN
9999,d4f11ca2-71b1-4e12-aba6-bd8530ca2691,09/03/1981 00:00,"DE R$ 3.800,00 A R$ 7.600,00",5954.0,-15.787504,-48.139096,CPF,Brasília,Distrito Federal,premise

In [36]:
df_spc['RENDA_FIXA'] = df_spc['RENDA_FIXA'].fillna(df_spc['RENDA_FIXA'].mean())

In [37]:
df_spc

,ID_USUARIO,DATA_NASCIMENTO,RENDA,RENDA_FIXA,LATITUDE,LONGITUDE,TIPO_PESSOA,CIDADE,ESTADO,LOGRADOURO
0,d6c0cc1d-eb61-486a-b5c3-50725ef44d61,30/01/1981 00:00,"DE R$ 1.900,00 A R$ 3.800,00",3104.0,-4.847580,-37.784390,CPF,Jaguaruana,Ceará,street_address
1,da0067e7-aa6b-4355-b373-ca17f6ac3b44,28/01/1978 00:00,"DE R$ 3.800,00 A R$ 7.600,00",5703.0,-26.990118,-48.637165,CPF,Balneário Camboriú,Santa Catarina,street_address
2,2d729b8a-d53c-48e7-8bf5-33b021980c04,09/12/1954 00:00,"DE R$ 3.800,00 A R$ 7.600,00",3901.0,-5.053671,-42.813152,CPF,Teresina,Piauí,street_address
3,62c0f1e6-36f2-4205-a134-232a58a6f8a5,28/08/1975 00:00,"DE R$ 788,00 A R$ 1.140,00",1086.0,-15.059042,-48.163372,CNPJ,Mimoso de Goiás,Goiás,establishment
4,0cef9719-0aa3-49a2-adea-9c09c04de071,17/06/1957 00:00,"DE R$ 788,00 A R$ 1.140,00",836.0,-17.694658,-42.522280,CPF,Capelinha,Minas Gerais,street_address
...,...,...,...,...,...,...,...,...,...,...
9995,f2261fce-83c5-4f64-b145-85f46bcf18b1,08/10/1979 00:00,"DE R$ 1.900,00 A R$ 3.800,00",2776.0,-11.609372,-47.047506,CPF,Porto Alegre do Tocantins,Tocantins,route
9996,bdaa7802-4650-44a4-93f7-952b72ec17a0,30/04/1980 00:00,"DE R$ 3.800,00 A R$ 7.600,00",4099.0,-15.650497,-47.793321,CPF,Brasília,Distrito Federal,street_address
9997,e7b37cd5-714a-44d8-ad7f-4ed3aa6b0695,26/05/1976 00:00,"DE R$ 788,00 A R$ 1.140,00",1052.0,-8.330679,-36.136897,CPF,São Caetano,Pernambuco,street_address
9998,167dbd7f-7ccd-4aad-a6b9-c3fb9d56c9cd,06/11/1985 00:00,"DE R$ 788,00 A R$ 1.140,00",958.0,NaN,NaN,CNPJ,NaN,NaN,NaN
9999,d4f11ca2-71b1-4e12-aba6-bd8530ca2691,09/03/1981 00:00,"DE R$ 3.800,00 A R$ 7.600,00",5954.0,-15.787504,-48.139096,CPF,Brasília,Distrito Federal,premise

In [38]:
from sklearn.preprocessing import LabelEncoder, MinMaxScaler

In [39]:
state_encoder = LabelEncoder()
state_encoder.fit(df_spc['RENDA'].unique())
df_spc['RENDA'] = state_encoder.transform(df_spc['RENDA'])
df_spc['RENDA'].unique()

array([0, 1, 2, 3])

In [40]:
state_encoder = LabelEncoder()
state_encoder.fit(df_spc['CIDADE'].unique())
df_spc['CIDADE'] = state_encoder.transform(df_spc['CIDADE'])
df_spc['CIDADE'].unique()

array([ 993,  160, 1996, ..., 2017, 1851, 1551])

In [41]:
state_encoder = LabelEncoder()
state_encoder.fit(df_spc['ESTADO'].unique())
df_spc['ESTADO'] = state_encoder.transform(df_spc['ESTADO'])
df_spc['ESTADO'].unique()

array([ 5, 23, 17,  8, 12,  9, 29,  4, 16, 19, 15, 28, 20, 13, 30, 10, 11,
       14,  1,  3, 21, 22,  0,  6,  7, 24, 18,  2, 26, 27, 25])

In [ ]:
state_encoder = LabelEncoder()
state_encoder.fit(df_spc['TIPO_PESSOA'].unique())
df_spc['TIPO_PESSOA'] = state_encoder.transform(df_spc['TIPO_PESSOA'])
df_spc['TIPO_PESSOA'].unique()

In [42]:
X = df_spc[['RENDA', 'CIDADE', 'ESTADO']]
X.shape

(10000, 3)

In [53]:
# Y = f(X)
Y = df_spc['TIPO_PESSOA']

In [47]:
from sklearn.model_selection import train_test_split

In [48]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.33, random_state=42)

In [49]:
x_train.shape

(6700, 3)

In [50]:
x_test.shape

(3300, 3)

In [51]:
y_train.shape

(6700,)

In [52]:
y_test.shape

(3300,)

In [58]:
from sklearn.cluster import KMeans
from sklearn.neighbors import KNeighborsClassifier

In [55]:
np.unique(y_test)

array(['CNPJ', 'CPF'], dtype=object)

In [56]:
kmeans = KMeans(n_clusters=2, random_state=0)
yk_train = kmeans.fit_predict(x_train)
yk_test = kmeans.predict(x_test)

In [57]:
kmeans.score(x_test, yk_test)

-313692689.17850286

In [59]:
model = KNeighborsClassifier(n_neighbors=3)
model.fit(x_train,yk_train)

KNeighborsClassifier(n_neighbors=3)

In [60]:
KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=3, p=2,
                     weights='uniform')

KNeighborsClassifier(n_neighbors=3)

In [61]:
model.score(x_test, yk_test)

0.9996969696969698