In [1]:
# Importando os módulos:
import pandas as pd
import folium
from folium import plugins, Map
import matplotlib.pyplot as plt
import seaborn as sns
from folium.plugins import HeatMap, MarkerCluster
import plotly.express as px
from sklearn.cluster import KMeans
from sklearn.preprocessing import LabelEncoder, MinMaxScaler

In [28]:
# Nova data frame com os dados tratados (rodar todas as vezes)
df= pd.read_csv(r"dataset_consumo_2.csv", delimiter=';', encoding='ANSI')

In [29]:
df['LATITUDE'] = df['LATITUDE'].str.replace(',','.')
df['LONGITUDE'] = df['LONGITUDE'].str.replace(',','.')

In [30]:
state_encoder = LabelEncoder()
state_encoder.fit(df['RENDA'].unique())
df['RENDA'] = state_encoder.transform(df['RENDA'])
df['RENDA'].unique()

array([0, 1, 2, 3])

In [31]:
state_encoder = LabelEncoder()
state_encoder.fit(df['CONSUMO'].unique())
df['CONSUMO'] = state_encoder.transform(df['CONSUMO'])
df['CONSUMO'].unique()

array([17,  5, 11,  2, 20, 10, 21, 13,  6, 16, 18, 15, 12, 14,  4,  9, 19,
        0,  3,  7,  8,  1])

In [32]:
state_encoder = LabelEncoder()
state_encoder.fit(df['IDADE'].unique())
df['IDADE'] = state_encoder.transform(df['IDADE'])
df['IDADE'].unique()

array([19, 22, 46, 25, 43, 21, 27, 42, 24, 68, 32, 13, 30, 36, 91, 28, 51,
       20, 14, 53, 17, 52, 35, 11, 34, 47, 18, 49, 26, 33, 38, 75, 45, 62,
       44, 48, 23, 61, 39, 40, 29, 63, 72, 64, 15, 12, 16, 41, 71, 60, 37,
       66, 31, 73, 54, 74,  6, 81, 50, 83, 76, 65, 69, 55, 59,  9,  3, 58,
       79, 57, 70, 56,  2, 77, 82, 67, 80, 85, 10,  4, 78, 84,  7,  1,  0,
        5,  8, 86, 87, 90, 88, 89], dtype=int64)

In [33]:
state_encoder = LabelEncoder()
state_encoder.fit(df['LATITUDE'].unique())
df['LATITUDE'] = state_encoder.transform(df['LATITUDE'])
df['LATITUDE'].unique()

array([7419, 5675, 7445, ..., 1079, 8166, 1121])

In [34]:
state_encoder = LabelEncoder()
state_encoder.fit(df['LONGITUDE'].unique())
df['LONGITUDE'] = state_encoder.transform(df['LONGITUDE'])
df['LONGITUDE'].unique()

array([ 630, 4813, 1940, ..., 4272,  442, 4501])

In [35]:
df_code=df[['CONSUMO','RENDA','IDADE','LATITUDE','LONGITUDE']]
df_code

      CONSUMO  RENDA  IDADE  LATITUDE  LONGITUDE
0          17      0     19      7419        630
1           5      1     22      5675       4813
2          17      1     46      7445       1940
3          11      2     25       978       4518
4          11      2     43      1593       1832
...       ...    ...    ...       ...        ...
9995       20      0     21       423       3910
9996       17      1     20      1079       4272
9997       17      2     24      8166        442
9998        2      2     15      8504       8506
9999        2      1     19      1121       4501

[10000 rows x 5 columns]

In [36]:
#Normalização com média 0 e desvio 1
normaliza = MinMaxScaler()

In [37]:
#Aplica a normalização
X_std = normaliza.fit_transform(df_code)

In [38]:
#transformando os dados normalizados em um dataframe
df_norma = pd.DataFrame(X_std, columns=['CONSUMO','RENDA','IDADE','LATITUDE','LONGITUDE'])

In [39]:
#Realizando a aplicação do Kmeans
km = KMeans(n_clusters=4)
clusters = km.fit_predict(df_norma)
df_norma['CLUSTER'] = clusters
df_norma.head()

    CONSUMO     RENDA     IDADE  LATITUDE  LONGITUDE  CLUSTER
0  0.809524  0.000000  0.208791  0.872413   0.074065        3
1  0.238095  0.333333  0.241758  0.667333   0.565836        2
2  0.809524  0.333333  0.505495  0.875470   0.228074        3
3  0.523810  0.666667  0.274725  0.115005   0.531154        1
4  0.523810  0.666667  0.472527  0.187324   0.215377        1

In [40]:
cluster_0 = df_norma[df_norma['CLUSTER'] == 0]
cluster_1 = df_norma[df_norma['CLUSTER'] == 1]
cluster_2 = df_norma[df_norma['CLUSTER'] == 2]
cluster_3 = df_norma[df_norma['CLUSTER'] == 3]

In [41]:
cluster_1

       CONSUMO     RENDA     IDADE  LATITUDE  LONGITUDE  CLUSTER
3     0.523810  0.666667  0.274725  0.115005   0.531154        1
4     0.523810  0.666667  0.472527  0.187324   0.215377        1
8     0.095238  0.666667  0.461538  0.200494   0.315189        1
12    0.809524  0.666667  0.351648  0.207549   0.360804        1
18    0.809524  0.333333  1.000000  0.477775   0.263579        1
...        ...       ...       ...       ...        ...      ...
9960  0.952381  0.666667  0.472527  0.519755   0.437926        1
9973  0.285714  1.000000  0.901099  0.508819   0.255349        1
9974  0.095238  0.666667  0.285714  0.530809   0.712909        1
9983  0.809524  0.666667  0.791209  0.656044   0.873619        1
9991  0.809524  0.666667  0.208791  0.100776   0.821420        1

[1964 rows x 6 columns]

In [42]:
km.cluster_centers_

array([[0.73557407, 0.10717906, 0.36052584, 0.31406762, 0.44303935],
       [0.74651568, 0.67056233, 0.44675802, 0.33988381, 0.52627963],
       [0.74147989, 0.21727561, 0.30266172, 0.850221  , 0.8763958 ],
       [0.74397566, 0.38802533, 0.33469984, 0.91029407, 0.10861387]])

In [49]:
ind_list = list(cluster_1.index)
cluster1_original = df_norma.iloc[ind_list]
cluster1_original

       CONSUMO     RENDA     IDADE  LATITUDE  LONGITUDE  CLUSTER
3     0.523810  0.666667  0.274725  0.115005   0.531154        1
4     0.523810  0.666667  0.472527  0.187324   0.215377        1
8     0.095238  0.666667  0.461538  0.200494   0.315189        1
12    0.809524  0.666667  0.351648  0.207549   0.360804        1
18    0.809524  0.333333  1.000000  0.477775   0.263579        1
...        ...       ...       ...       ...        ...      ...
9960  0.952381  0.666667  0.472527  0.519755   0.437926        1
9973  0.285714  1.000000  0.901099  0.508819   0.255349        1
9974  0.095238  0.666667  0.285714  0.530809   0.712909        1
9983  0.809524  0.666667  0.791209  0.656044   0.873619        1
9991  0.809524  0.666667  0.208791  0.100776   0.821420        1

[1964 rows x 6 columns]