In [1]:
# Importando os módulos:
import pandas as pd
import folium
from folium import plugins, Map
import matplotlib.pyplot as plt
import seaborn as sns
from folium.plugins import HeatMap, MarkerCluster
import plotly.express as px
from sklearn.cluster import KMeans
from sklearn.preprocessing import LabelEncoder, MinMaxScaler

In [2]:
# Nova data frame com os dados tratados (rodar todas as vezes)
df= pd.read_csv(r"dataset_consumo_2.csv", delimiter=';', encoding='ANSI')
df

,ID_USUARIO,DATA_NASCIMENTO,RENDA,RENDA_FIXA,LATITUDE,LONGITUDE,TIPO_PESSOA,CIDADE,ESTADO,LOGRADOURO,ANO,IDADE,FAIXA ETARIA,CONSUMO
0,d6c0cc1d-eb61-486a-b5c3-50725ef44d61,30/01/1981 00:00,"DE R$ 1.900,00 A R$ 3.800,00","3.104,00","-4,84758","-37,78439",CPF,Jaguaruana,Ceará,street_address,1981.0,40.0,30 a 40 anos,SERVICO
1,da0067e7-aa6b-4355-b373-ca17f6ac3b44,28/01/1978 00:00,"DE R$ 3.800,00 A R$ 7.600,00","5.703,00","-26,99011814","-48,63716523",CPF,Balneário Camboriú,Santa Catarina,street_address,1978.0,43.0,40 a 50 anos,FARMACIAS
2,2d729b8a-d53c-48e7-8bf5-33b021980c04,09/12/1954 00:00,"DE R$ 3.800,00 A R$ 7.600,00","3.901,00","-5,053671016","-42,81315203",CPF,Teresina,Piauí,street_address,1954.0,67.0,60 a 70 anos,SERVICO
3,62c0f1e6-36f2-4205-a134-232a58a6f8a5,28/08/1975 00:00,"DE R$ 788,00 A R$ 1.140,00","1.086,00","-15,059042","-48,163372",CNPJ,Mimoso de Goiás,Goiás,establishment,1975.0,46.0,40 a 50 anos,M.O.T.O.
4,0cef9719-0aa3-49a2-adea-9c09c04de071,17/06/1957 00:00,"DE R$ 788,00 A R$ 1.140,00",836,"-17,694658","-42,52228",CPF,Capelinha,Minas Gerais,street_address,1957.0,64.0,60 a 70 anos,M.O.T.O.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,f2261fce-83c5-4f64-b145-85f46bcf18b1,08/10/1979 00:00,"DE R$ 1.900,00 A R$ 3.800,00","2.776,00","-11,60937194","-47,04750645",CPF,Porto Alegre do Tocantins,Tocantins,route,1979.0,42.0,40 a 50 anos,VAREJO
9996,bdaa7802-4650-44a4-93f7-952b72ec17a0,30/04/1980 00:00,"DE R$ 3.800,00 A R$ 7.600,00","4.099,00","-15,65049668","-47,79332059",CPF,Brasília,Distrito Federal,street_address,1980.0,41.0,40 a 50 anos,SERVICO
9997,e7b37cd5-714a-44d8-ad7f-4ed3aa6b0695,26/05/1976 00:00,"DE R$ 788,00 A R$ 1.140,00","1.052,00","-8,330678649","-36,13689703",CPF,São Caetano,Pernambuco,street_address,1976.0,45.0,40 a 50 anos,SERVICO
9998,167dbd7f-7ccd-4aad-a6b9-c3fb9d56c9cd,06/11/1985 00:00,"DE R$ 788,00 A R$ 1.140,00",958,NaN,NaN,CNPJ,NaN,NaN,NaN,1985.0,36.0,30 a 40 anos,ARTIGOS ELETRO
9999,d4f11ca2-71b1-4e12-aba6-bd8530ca2691,09/03/1981 00:00,"DE R$ 3.800,00 A R$ 7.600,00","5.954,00","-15,787504","-48,139096",CPF,Brasília,Distrito Federal,premise,1981.0,40.0,30 a 40 anos,ARTIGOS ELETRO

In [3]:
df['LATITUDE'] = df['LATITUDE'].str.replace(',','.')
df['LONGITUDE'] = df['LONGITUDE'].str.replace(',','.')

In [4]:
df_final=df[['CONSUMO','RENDA','IDADE','LATITUDE','LONGITUDE']]
df_code=df[['CONSUMO','RENDA','IDADE','LATITUDE','LONGITUDE']]

In [5]:
#Agrupamento por tipo de pessoas
df_CPF= df[df['TIPO_PESSOA'] == 'CPF']
df_CNPJ= df[df['TIPO_PESSOA'] == 'CNPJ']

In [6]:
df_CPF_code=df_CPF[['CONSUMO','RENDA','IDADE','LATITUDE','LONGITUDE']]
df_CNPJ_code=df_CNPJ[['CONSUMO','RENDA','IDADE','LATITUDE','LONGITUDE']]

In [7]:
df_CPF_final=df_CPF[['CONSUMO','RENDA','IDADE','LATITUDE','LONGITUDE']]
df_CNPJ_final=df_CNPJ[['CONSUMO','RENDA','IDADE','LATITUDE','LONGITUDE']]

In [8]:
#------------------------- CPF -------------------------------------
df_CPF_code['RENDA'] = df_CPF_code['RENDA'].astype('category')
renda = dict(enumerate(df_CPF_code['RENDA'].cat.categories))
df_CPF_code['RENDA_codes'] = df_CPF_code['RENDA'].cat.codes
df_CPF_code['RENDA_reversed'] = df_CPF_code['RENDA_codes'].map(renda)

<ipython-input-8-bbac8119e524>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_CPF_code['RENDA'] = df_CPF_code['RENDA'].astype('category')
<ipython-input-8-bbac8119e524>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_CPF_code['RENDA_codes'] = df_CPF_code['RENDA'].cat.codes
<ipython-input-8-bbac8119e524>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_CPF_code['RENDA_reversed'] = df_CPF_code['RENDA_codes'].map(renda)

In [9]:
#------------------------- CNPJ -------------------------------------
df_CNPJ_code['RENDA'] = df_CNPJ_code['RENDA'].astype('category')
renda = dict(enumerate(df_CNPJ_code['RENDA'].cat.categories))
df_CNPJ_code['RENDA_codes'] = df_CNPJ_code['RENDA'].cat.codes
df_CNPJ_code['RENDA_reversed'] = df_CNPJ_code['RENDA_codes'].map(renda)

<ipython-input-9-f191a4395239>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_CNPJ_code['RENDA'] = df_CNPJ_code['RENDA'].astype('category')
<ipython-input-9-f191a4395239>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_CNPJ_code['RENDA_codes'] = df_CNPJ_code['RENDA'].cat.codes
<ipython-input-9-f191a4395239>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_CNPJ_code['RENDA_reversed'] = df_CNPJ_code['RENDA_codes'].map(renda)

In [10]:
#------------------------- CPF -------------------------------------
df_CPF_code['CONSUMO'] = df_CPF_code['CONSUMO'].astype('category')
consumo = dict(enumerate(df_CPF_code['CONSUMO'].cat.categories))
df_CPF_code['CONSUMO_codes'] = df_CPF_code['CONSUMO'].cat.codes
df_CPF_code['CONSUMO_reversed'] = df_CPF_code['CONSUMO_codes'].map(consumo)

<ipython-input-10-b18273d60f1a>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_CPF_code['CONSUMO'] = df_CPF_code['CONSUMO'].astype('category')
<ipython-input-10-b18273d60f1a>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_CPF_code['CONSUMO_codes'] = df_CPF_code['CONSUMO'].cat.codes
<ipython-input-10-b18273d60f1a>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_CPF_code['CONSUMO_reversed'] = df_CPF_code['CONSUMO_codes'].map(consumo)

In [11]:
#------------------------- CNPJ -------------------------------------
df_CNPJ_code['CONSUMO'] = df_CNPJ_code['CONSUMO'].astype('category')
consumo = dict(enumerate(df_CNPJ_code['CONSUMO'].cat.categories))
df_CNPJ_code['CONSUMO_codes'] = df_CNPJ_code['CONSUMO'].cat.codes
df_CNPJ_code['CONSUMO_reversed'] = df_CNPJ_code['CONSUMO_codes'].map(consumo)

<ipython-input-11-f96936af0439>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_CNPJ_code['CONSUMO'] = df_CNPJ_code['CONSUMO'].astype('category')
<ipython-input-11-f96936af0439>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_CNPJ_code['CONSUMO_codes'] = df_CNPJ_code['CONSUMO'].cat.codes
<ipython-input-11-f96936af0439>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_CNPJ_code['CONSUMO_reversed'] = df_CNPJ_code['CONSUMO_codes'].map(consumo)

In [12]:
#------------------------- CPF -------------------------------------
df_CPF_code['LATITUDE'] = df_CPF_code['LATITUDE'].astype('category')
latitude = dict(enumerate(df_CPF_code['LATITUDE'].cat.categories))
df_CPF_code['LATITUDE_codes'] = df_CPF_code['LATITUDE'].cat.codes
df_CPF_code['LATITUDE_reversed'] = df_CPF_code['LATITUDE_codes'].map(latitude)

df_CPF_code['LONGITUDE'] = df_CPF_code['LONGITUDE'].astype('category')
longitude= dict(enumerate(df_CPF_code['LONGITUDE'].cat.categories))
df_CPF_code['LONGITUDE_codes'] = df_CPF_code['LONGITUDE'].cat.codes
df_CPF_code['LONGITUDE_reversed'] = df_CPF_code['LONGITUDE_codes'].map(longitude)

<ipython-input-12-2ae092914f9d>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_CPF_code['LATITUDE'] = df_CPF_code['LATITUDE'].astype('category')
<ipython-input-12-2ae092914f9d>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_CPF_code['LATITUDE_codes'] = df_CPF_code['LATITUDE'].cat.codes
<ipython-input-12-2ae092914f9d>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_CPF_code['LATITUDE_reversed'] = df_CPF_code['LATITUDE_codes'].map(latitude)
<ipython-input-12-2ae092914f9d>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_CPF_code['LONGITUDE'] = df_CPF_code['LONGITUDE'].astype('category')
<ipython-input-12-2ae092914f9d>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_CPF_code['LONGITUDE_codes'] = df_CPF_code['LONGITUDE'].cat.codes
<ipython-input-12-2ae092914f9d>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_CPF_code['LONGITUDE_reversed'] = df_CPF_code['LONGITUDE_codes'].map(longitude)

In [13]:
#------------------------- CNPJ -------------------------------------
df_CNPJ_code['LATITUDE'] = df_CNPJ_code['LATITUDE'].astype('category')
latitude = dict(enumerate(df_CNPJ_code['LATITUDE'].cat.categories))
df_CNPJ_code['LATITUDE_codes'] = df_CNPJ_code['LATITUDE'].cat.codes
df_CNPJ_code['LATITUDE_reversed'] = df_CNPJ_code['LATITUDE_codes'].map(latitude)

df_CNPJ_code['LONGITUDE'] = df_CNPJ_code['LONGITUDE'].astype('category')
longitude= dict(enumerate(df_CNPJ_code['LONGITUDE'].cat.categories))
df_CNPJ_code['LONGITUDE_codes'] = df_CNPJ_code['LONGITUDE'].cat.codes
df_CNPJ_code['LONGITUDE_reversed'] = df_CNPJ_code['LONGITUDE_codes'].map(longitude)

<ipython-input-13-5c4052580776>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_CNPJ_code['LATITUDE'] = df_CNPJ_code['LATITUDE'].astype('category')
<ipython-input-13-5c4052580776>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_CNPJ_code['LATITUDE_codes'] = df_CNPJ_code['LATITUDE'].cat.codes
<ipython-input-13-5c4052580776>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_CNPJ_code['LATITUDE_reversed'] = df_CNPJ_code['LATITUDE_codes'].map(latitude)
<ipython-input-13-5c4052580776>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_CNPJ_code['LONGITUDE'] = df_CNPJ_code['LONGITUDE'].astype('category')
<ipython-input-13-5c4052580776>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_CNPJ_code['LONGITUDE_codes'] = df_CNPJ_code['LONGITUDE'].cat.codes
<ipython-input-13-5c4052580776>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_CNPJ_code['LONGITUDE_reversed'] = df_CNPJ_code['LONGITUDE_codes'].map(longitude)

In [14]:
#------------------------- CPF -------------------------------------
df_CPF_code['IDADE'] = df_CPF_code['IDADE'].astype('category')
idade = dict(enumerate(df_CPF_code['IDADE'].cat.categories))
df_CPF_code['IDADE_codes'] = df_CPF_code['IDADE'].cat.codes
df_CPF_code['IDADE_reversed'] = df_CPF_code['IDADE_codes'].map(idade)

<ipython-input-14-bc92a2dd8def>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_CPF_code['IDADE'] = df_CPF_code['IDADE'].astype('category')

In [15]:
#------------------------- CNPJ -------------------------------------
df_CNPJ_code['IDADE'] = df_CNPJ_code['IDADE'].astype('category')
idade = dict(enumerate(df_CNPJ_code['IDADE'].cat.categories))
df_CNPJ_code['IDADE_codes'] = df_CNPJ_code['IDADE'].cat.codes
df_CNPJ_code['IDADE_reversed'] = df_CNPJ_code['IDADE_codes'].map(idade)

<ipython-input-15-a4d82f8e9041>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_CNPJ_code['IDADE'] = df_CNPJ_code['IDADE'].astype('category')

In [16]:
df_codes_CPF = df_CPF_code[['IDADE_codes','RENDA_codes','CONSUMO_codes','LATITUDE_codes','LONGITUDE_codes']]
df_codes_CNPJ = df_CNPJ_code[['IDADE_codes','RENDA_codes','CONSUMO_codes','LATITUDE_codes','LONGITUDE_codes']]

In [17]:
#Normalização com média 0 e desvio 1
normaliza = MinMaxScaler()

In [18]:
#Aplica a normalização CPF
X_std_CPF = normaliza.fit_transform(df_codes_CPF)

In [19]:
#Aplica a normalização CNPJ
X_std_CNPJ = normaliza.fit_transform(df_codes_CNPJ)

In [20]:
#transformando os dados normalizados em um dataframe no CPF e CNPJ
df_norma_CPF = pd.DataFrame(X_std_CPF, columns=['IDADE_codes','RENDA_codes','CONSUMO_codes','LATITUDE_codes','LONGITUDE_codes'])
df_norma_CNPJ = pd.DataFrame(X_std_CNPJ, columns=['IDADE_codes','RENDA_codes','CONSUMO_codes','LATITUDE_codes','LONGITUDE_codes'])

In [21]:
#Realizando a aplicação do Kmeans CPF
km = KMeans(n_clusters=4)
clusters_CPF = km.fit_predict(df_norma_CPF)
df_norma_CPF['CLUSTER'] = clusters_CPF
df_norma_CPF.head()

,IDADE_codes,RENDA_codes,CONSUMO_codes,LATITUDE_codes,LONGITUDE_codes,CLUSTER
0,0.202247,0.000000,0.809524,0.869328,0.076647,3
1,0.235955,0.333333,0.238095,0.666800,0.576447,1
2,0.505618,0.333333,0.809524,0.872389,0.232868,3
3,0.471910,0.666667,0.523810,0.182435,0.219827,0
4,0.224719,0.666667,0.095238,0.871989,0.368862,3

In [22]:
#Realizando a aplicação do Kmeans CNPJ
km = KMeans(n_clusters=4)
clusters_CNPJ = km.fit_predict(df_norma_CNPJ)
df_norma_CNPJ['CLUSTER'] = clusters_CNPJ
df_norma_CNPJ.head()

,IDADE_codes,RENDA_codes,CONSUMO_codes,LATITUDE_codes,LONGITUDE_codes,CLUSTER
0,0.271605,0.666667,0.473684,0.137235,0.465187,3
1,0.407407,0.333333,1.000000,0.502523,0.212916,2
2,0.604938,0.333333,0.473684,0.567104,0.377397,2
3,0.395062,0.666667,0.947368,0.223007,0.912210,2
4,0.518519,0.333333,0.473684,0.000000,0.000000,1

In [23]:
#retornando os dados CPF
retorno_CPF = normaliza.inverse_transform(X_std_CPF)
retorno_CPF

array([[ 15.38202247,   0.        ,  15.38095238, 860.50405855,
         74.95688623],
       [ 18.11235955,   1.        ,   4.52380952, 659.79853626,
        570.25908184],
       [ 39.95505618,   1.        ,  15.38095238, 863.53705921,
        229.77178975],
       ...,
       [ 16.29213483,   1.        ,  15.38095238, 121.77059215,
        505.24737192],
       [ 19.93258427,   2.        ,  15.38095238, 950.04351297,
         52.80279441],
       [ 15.38202247,   1.        ,   1.80952381, 126.78163673,
        532.14876913]])

In [24]:
#retornando os dados CNPJ
retorno_CNPJ = normaliza.inverse_transform(X_std_CNPJ)
retorno_CNPJ

array([[ 21.,   2.,   9., 135., 460.],
       [ 32.,   1.,  19., 497., 210.],
       [ 48.,   1.,   9., 561., 373.],
       ...,
       [ 53.,   2.,   1.,  -1.,  -1.],
       [ 18.,   0.,  18., 759., 710.],
       [ 11.,   2.,   1.,  -1.,  -1.]])

In [25]:
df_retorno_CPF = pd.DataFrame(retorno_CPF, columns=['IDADE_codes','RENDA_codes','CONSUMO_codes','LATITUDE_codes','LONGITUDE_codes'])
df_retorno_CPF['CLUSTER'] = clusters_CPF
df_retorno_CPF.head()

,IDADE_codes,RENDA_codes,CONSUMO_codes,LATITUDE_codes,LONGITUDE_codes,CLUSTER
0,15.382022,0.0,15.380952,860.504059,74.956886,3
1,18.112360,1.0,4.523810,659.798536,570.259082,1
2,39.955056,1.0,15.380952,863.537059,229.771790,3
3,37.224719,2.0,9.952381,179.793214,216.848570,0
4,17.202247,2.0,1.809524,863.141450,364.542515,3

In [26]:
df_retorno_CNPJ = pd.DataFrame(retorno_CNPJ, columns=['IDADE_codes','RENDA_codes','CONSUMO_codes','LATITUDE_codes','LONGITUDE_codes'])
df_retorno_CNPJ['CLUSTER'] = clusters_CNPJ
df_retorno_CNPJ.head()

,IDADE_codes,RENDA_codes,CONSUMO_codes,LATITUDE_codes,LONGITUDE_codes,CLUSTER
0,21.0,2.0,9.0,135.0,460.0,3
1,32.0,1.0,19.0,497.0,210.0,2
2,48.0,1.0,9.0,561.0,373.0,2
3,31.0,2.0,18.0,220.0,903.0,2
4,41.0,1.0,9.0,-1.0,-1.0,1

In [27]:
df_retorno_CPF.to_csv('lista_clusters_retorno_cpf.csv', index=False)

In [28]:
df_retorno_CNPJ.to_csv('lista_clusters_retorno_cnpj.csv', index=False)

In [29]:
cluster_0_CPF = df_retorno_CPF[df_retorno_CPF['CLUSTER'] == 0]
cluster_1_CPF = df_retorno_CPF[df_retorno_CPF['CLUSTER'] == 1]
cluster_2_CPF = df_retorno_CPF[df_retorno_CPF['CLUSTER'] == 2]
cluster_3_CPF = df_retorno_CPF[df_retorno_CPF['CLUSTER'] == 3]

In [30]:
cluster_0_CPF

,IDADE_codes,RENDA_codes,CONSUMO_codes,LATITUDE_codes,LONGITUDE_codes,CLUSTER
3,37.224719,2.0,9.952381,179.793214,216.848570,0
7,36.314607,2.0,1.809524,193.639521,316.146374,0
11,27.213483,2.0,15.380952,200.760479,363.091949,0
13,25.393258,1.0,18.095238,570.786560,427.576181,0
19,44.505618,2.0,15.380952,246.255489,342.784032,0
...,...,...,...,...,...,...
8317,36.314607,1.0,1.809524,518.170592,456.455622,0
8323,63.617978,2.0,15.380952,648.589621,868.284365,0
8324,36.314607,1.0,9.047619,523.181637,454.873187,0
8325,44.505618,1.0,1.809524,520.676114,452.895143,0
8330,15.382022,2.0,15.380952,97.638456,816.591484,0

In [31]:
cluster_0_CNPJ = df_retorno_CNPJ[df_retorno_CNPJ['CLUSTER'] == 0]
cluster_1_CNPJ = df_retorno_CNPJ[df_retorno_CNPJ['CLUSTER'] == 1]
cluster_2_CNPJ = df_retorno_CNPJ[df_retorno_CNPJ['CLUSTER'] == 2]
cluster_3_CNPJ = df_retorno_CNPJ[df_retorno_CNPJ['CLUSTER'] == 3]

In [32]:
# Transforma os dados do grupo CPF em uma lista e acrescenta a coluna cluster 
ind_list_CPF = list(cluster_0_CPF.index)
cluster_0_CPF_original = df_final.iloc[ind_list_CPF]
cluster_0_CPF_original['CLUSTER'] = pd.Series(0, index=cluster_0_CPF_original.index)

<ipython-input-32-352459aba030>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cluster_0_CPF_original['CLUSTER'] = pd.Series(0, index=cluster_0_CPF_original.index)

In [33]:
# Transforma os dados do grupo CPF em uma lista e acrescenta a coluna cluster 
ind_list_CPF = list(cluster_1_CPF.index)
cluster_1_CPF_original = df_final.iloc[ind_list_CPF]
cluster_1_CPF_original['CLUSTER'] = pd.Series(1, index=cluster_1_CPF_original.index)

<ipython-input-33-e7680f5e4c17>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cluster_1_CPF_original['CLUSTER'] = pd.Series(1, index=cluster_1_CPF_original.index)

In [34]:
# Transforma os dados do grupo CPF em uma lista e acrescenta a coluna cluster 
ind_list_CPF = list(cluster_2_CPF.index)
cluster_2_CPF_original = df_final.iloc[ind_list_CPF]
cluster_2_CPF_original['CLUSTER'] = pd.Series(2, index=cluster_2_CPF_original.index)

<ipython-input-34-f6a927b2edb1>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cluster_2_CPF_original['CLUSTER'] = pd.Series(2, index=cluster_2_CPF_original.index)

In [35]:
# Transforma os dados do grupo CPF em uma lista e acrescenta a coluna cluster 
ind_list_CPF = list(cluster_3_CPF.index)
cluster_3_CPF_original = df_final.iloc[ind_list_CPF]
cluster_3_CPF_original['CLUSTER'] = pd.Series(3, index=cluster_3_CPF_original.index)

<ipython-input-35-a26c628cdb29>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cluster_3_CPF_original['CLUSTER'] = pd.Series(3, index=cluster_3_CPF_original.index)

In [36]:
# Transforma os dados do grupo CNPJ em uma lista e acrescenta a coluna cluster 
ind_list_CNPJ = list(cluster_0_CNPJ.index)
cluster_0_CNPJ_original = df_final.iloc[ind_list_CNPJ]
cluster_0_CNPJ_original['CLUSTER'] = pd.Series(0, index=cluster_0_CNPJ_original.index)

<ipython-input-36-2f7d24f780eb>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cluster_0_CNPJ_original['CLUSTER'] = pd.Series(0, index=cluster_0_CNPJ_original.index)

In [37]:
# Transforma os dados do grupo CNPJ em uma lista e acrescenta a coluna cluster 
ind_list_CNPJ = list(cluster_1_CNPJ.index)
cluster_1_CNPJ_original = df_final.iloc[ind_list_CNPJ]
cluster_1_CNPJ_original['CLUSTER'] = pd.Series(1, index=cluster_1_CNPJ_original.index)

<ipython-input-37-92c930f6ab9f>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cluster_1_CNPJ_original['CLUSTER'] = pd.Series(1, index=cluster_1_CNPJ_original.index)

In [38]:
# Transforma os dados do grupo CNPJ em uma lista e acrescenta a coluna cluster 
ind_list_CNPJ = list(cluster_2_CNPJ.index)
cluster_2_CNPJ_original = df_final.iloc[ind_list_CNPJ]
cluster_2_CNPJ_original['CLUSTER'] = pd.Series(2, index=cluster_2_CNPJ_original.index)

<ipython-input-38-9ea7c30a1445>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cluster_2_CNPJ_original['CLUSTER'] = pd.Series(2, index=cluster_2_CNPJ_original.index)

In [39]:
# Transforma os dados do grupo CNPJ em uma lista e acrescenta a coluna cluster 
ind_list_CNPJ = list(cluster_3_CNPJ.index)
cluster_3_CNPJ_original = df_final.iloc[ind_list_CNPJ]
cluster_3_CNPJ_original['CLUSTER'] = pd.Series(3, index=cluster_3_CNPJ_original.index)

<ipython-input-39-6a47de76636a>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cluster_3_CNPJ_original['CLUSTER'] = pd.Series(3, index=cluster_3_CNPJ_original.index)

In [40]:
df_concatenado_CPF = pd.concat([cluster_0_CPF_original, cluster_1_CPF_original, cluster_2_CPF_original, cluster_3_CPF_original])
df_concatenado_CPF

,CONSUMO,RENDA,IDADE,LATITUDE,LONGITUDE,CLUSTER
3,M.O.T.O.,"DE R$ 788,00 A R$ 1.140,00",46.0,-15.059042,-48.163372,0
7,M.O.T.O.,"DE R$ 1.900,00 A R$ 3.800,00",40.0,-7.191076842,-48.19394263,0
11,M.O.T.O.,"DE R$ 3.800,00 A R$ 7.600,00",89.0,-28.29048,-52.8147,0
13,ARTIGOS ELETRO,"DE R$ 1.900,00 A R$ 3.800,00",34.0,-4.946685556,-48.39730667,0
19,SERVICO,"DE R$ 1.900,00 A R$ 3.800,00",49.0,-18.45250818,-44.17324348,0
...,...,...,...,...,...,...
8320,SERVICO,"DE R$ 3.800,00 A R$ 7.600,00",56.0,-25.51503947,-49.22552257,3
8321,HOTEIS,"DE R$ 1.900,00 A R$ 3.800,00",36.0,-3.007901818,-59.98237455,3
8329,SERVICO,"DE R$ 1.900,00 A R$ 3.800,00",46.0,-8.90116585,-36.48894415,3
8332,RESTAURANTE,"DE R$ 1.900,00 A R$ 3.800,00",34.0,-6.100848679,-49.36456075,3
8335,VAREJO,"DE R$ 788,00 A R$ 1.140,00",74.0,NaN,NaN,3

In [41]:
df_concatenado_CPF.to_csv('lista_clusters_cpf.csv', index=False)

In [42]:
df_concatenado_CNPJ = pd.concat([cluster_0_CNPJ_original, cluster_1_CNPJ_original, cluster_2_CNPJ_original, cluster_3_CNPJ_original])
df_concatenado_CNPJ

,CONSUMO,RENDA,IDADE,LATITUDE,LONGITUDE,CLUSTER
10,ARTIGOS ELETRO,"DE R$ 1.900,00 A R$ 3.800,00",45.0,-8.011778571,-34.88329592,0
21,SERVICO,"DE R$ 1.900,00 A R$ 3.800,00",41.0,-18.18101889,-47.94993778,0
29,SERVICO,"DE R$ 788,00 A R$ 1.140,00",48.0,NaN,NaN,0
36,ARTIGOS ELETRO,"MAIOR QUE R$ 7.600,00",55.0,-22.89141805,-43.2412226,0
42,SERVICO,"DE R$ 788,00 A R$ 1.140,00",70.0,-29.17971034,-54.85738922,0
...,...,...,...,...,...,...
1650,VAREJO,"DE R$ 3.800,00 A R$ 7.600,00",44.0,-12.73721776,-38.60925306,3
1656,RESTAURANTE,"DE R$ 1.900,00 A R$ 3.800,00",55.0,-26.91538514,-48.67708185,3
1658,SERVICO,"DE R$ 3.800,00 A R$ 7.600,00",48.0,-20.57794325,-43.72595075,3
1660,SERVICO,"DE R$ 1.900,00 A R$ 3.800,00",43.0,-30.33900623,-54.31961198,3
1662,SERVICO,"DE R$ 1.900,00 A R$ 3.800,00",45.0,-20.95419,-43.78659,3

In [43]:
df_concatenado_CNPJ.to_csv('lista_clusters_cnpj.csv', index=False)