In [1]:
# Importando os módulos:
import pandas as pd
import folium
from folium import plugins, Map
import matplotlib.pyplot as plt
import seaborn as sns
from folium.plugins import HeatMap, MarkerCluster
import plotly.express as px
from sklearn.cluster import KMeans
from sklearn.preprocessing import LabelEncoder, MinMaxScaler

In [73]:
# Nova data frame com os dados tratados (rodar todas as vezes)
df= pd.read_csv(r"dataset_consumo_2.csv", delimiter=';', encoding='ANSI')

In [74]:
df

,ID_USUARIO,DATA_NASCIMENTO,RENDA,RENDA_FIXA,LATITUDE,LONGITUDE,TIPO_PESSOA,CIDADE,ESTADO,LOGRADOURO,ANO,IDADE,FAIXA ETARIA,CONSUMO
0,d6c0cc1d-eb61-486a-b5c3-50725ef44d61,30/01/1981 00:00,"DE R$ 1.900,00 A R$ 3.800,00","3.104,00","-4,84758","-37,78439",CPF,Jaguaruana,Ceará,street_address,1981.0,40.0,30 a 40 anos,SERVICO
1,da0067e7-aa6b-4355-b373-ca17f6ac3b44,28/01/1978 00:00,"DE R$ 3.800,00 A R$ 7.600,00","5.703,00","-26,99011814","-48,63716523",CPF,Balneário Camboriú,Santa Catarina,street_address,1978.0,43.0,40 a 50 anos,FARMACIAS
2,2d729b8a-d53c-48e7-8bf5-33b021980c04,09/12/1954 00:00,"DE R$ 3.800,00 A R$ 7.600,00","3.901,00","-5,053671016","-42,81315203",CPF,Teresina,Piauí,street_address,1954.0,67.0,60 a 70 anos,SERVICO
3,62c0f1e6-36f2-4205-a134-232a58a6f8a5,28/08/1975 00:00,"DE R$ 788,00 A R$ 1.140,00","1.086,00","-15,059042","-48,163372",CNPJ,Mimoso de Goiás,Goiás,establishment,1975.0,46.0,40 a 50 anos,M.O.T.O.
4,0cef9719-0aa3-49a2-adea-9c09c04de071,17/06/1957 00:00,"DE R$ 788,00 A R$ 1.140,00",836,"-17,694658","-42,52228",CPF,Capelinha,Minas Gerais,street_address,1957.0,64.0,60 a 70 anos,M.O.T.O.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,f2261fce-83c5-4f64-b145-85f46bcf18b1,08/10/1979 00:00,"DE R$ 1.900,00 A R$ 3.800,00","2.776,00","-11,60937194","-47,04750645",CPF,Porto Alegre do Tocantins,Tocantins,route,1979.0,42.0,40 a 50 anos,VAREJO
9996,bdaa7802-4650-44a4-93f7-952b72ec17a0,30/04/1980 00:00,"DE R$ 3.800,00 A R$ 7.600,00","4.099,00","-15,65049668","-47,79332059",CPF,Brasília,Distrito Federal,street_address,1980.0,41.0,40 a 50 anos,SERVICO
9997,e7b37cd5-714a-44d8-ad7f-4ed3aa6b0695,26/05/1976 00:00,"DE R$ 788,00 A R$ 1.140,00","1.052,00","-8,330678649","-36,13689703",CPF,São Caetano,Pernambuco,street_address,1976.0,45.0,40 a 50 anos,SERVICO
9998,167dbd7f-7ccd-4aad-a6b9-c3fb9d56c9cd,06/11/1985 00:00,"DE R$ 788,00 A R$ 1.140,00",958,NaN,NaN,CNPJ,NaN,NaN,NaN,1985.0,36.0,30 a 40 anos,ARTIGOS ELETRO
9999,d4f11ca2-71b1-4e12-aba6-bd8530ca2691,09/03/1981 00:00,"DE R$ 3.800,00 A R$ 7.600,00","5.954,00","-15,787504","-48,139096",CPF,Brasília,Distrito Federal,premise,1981.0,40.0,30 a 40 anos,ARTIGOS ELETRO

In [3]:
df['LATITUDE'] = df['LATITUDE'].str.replace(',','.')
df['LONGITUDE'] = df['LONGITUDE'].str.replace(',','.')

In [4]:
df_final=df[['CONSUMO','RENDA','IDADE','LATITUDE','LONGITUDE']]

In [5]:
df_code=df[['CONSUMO','RENDA','IDADE','LATITUDE','LONGITUDE']]

In [30]:
#state_encoder = LabelEncoder()
#state_encoder.fit(df['RENDA'].unique())
#df['RENDA'] = state_encoder.transform(df['RENDA'])
#df['RENDA'].unique()

array([0, 1, 2, 3])

In [31]:
#state_encoder = LabelEncoder()
#state_encoder.fit(df['CONSUMO'].unique())
#df['CONSUMO'] = state_encoder.transform(df['CONSUMO'])
#df['CONSUMO'].unique()

array([17,  5, 11,  2, 20, 10, 21, 13,  6, 16, 18, 15, 12, 14,  4,  9, 19,
        0,  3,  7,  8,  1])

In [33]:
#state_encoder = LabelEncoder()
#state_encoder.fit(df['LATITUDE'].unique())
#df['LATITUDE'] = state_encoder.transform(df['LATITUDE'])
#df['LATITUDE'].unique()

array([7419, 5675, 7445, ..., 1079, 8166, 1121])

In [32]:
#state_encoder = LabelEncoder()
#state_encoder.fit(df['IDADE'].unique())
#df['IDADE'] = state_encoder.transform(df['IDADE'])
#df['IDADE'].unique()

array([19, 22, 46, 25, 43, 21, 27, 42, 24, 68, 32, 13, 30, 36, 91, 28, 51,
       20, 14, 53, 17, 52, 35, 11, 34, 47, 18, 49, 26, 33, 38, 75, 45, 62,
       44, 48, 23, 61, 39, 40, 29, 63, 72, 64, 15, 12, 16, 41, 71, 60, 37,
       66, 31, 73, 54, 74,  6, 81, 50, 83, 76, 65, 69, 55, 59,  9,  3, 58,
       79, 57, 70, 56,  2, 77, 82, 67, 80, 85, 10,  4, 78, 84,  7,  1,  0,
        5,  8, 86, 87, 90, 88, 89], dtype=int64)

In [34]:
#state_encoder = LabelEncoder()
#state_encoder.fit(df['LONGITUDE'].unique())
#df['LONGITUDE'] = state_encoder.transform(df['LONGITUDE'])
#df['LONGITUDE'].unique()

array([ 630, 4813, 1940, ..., 4272,  442, 4501])

In [6]:
df_code['RENDA'] = df_code['RENDA'].astype('category')
renda = dict(enumerate(df_code['RENDA'].cat.categories))
df_code['RENDA_codes'] = df_code['RENDA'].cat.codes
df_code['RENDA_reversed'] = df_code['RENDA_codes'].map(renda)

<ipython-input-6-5724a20f01bb>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_code['RENDA'] = df_code['RENDA'].astype('category')
<ipython-input-6-5724a20f01bb>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_code['RENDA_codes'] = df_code['RENDA'].cat.codes
<ipython-input-6-5724a20f01bb>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_code['RENDA_reversed'] = df_code['RENDA_codes'].map(renda)

In [7]:
df_code['CONSUMO'] = df_code['CONSUMO'].astype('category')
consumo = dict(enumerate(df_code['CONSUMO'].cat.categories))
df_code['CONSUMO_codes'] = df_code['CONSUMO'].cat.codes
df_code['CONSUMO_reversed'] = df_code['CONSUMO_codes'].map(consumo)

<ipython-input-7-9e1ae94d2c9b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_code['CONSUMO'] = df_code['CONSUMO'].astype('category')
<ipython-input-7-9e1ae94d2c9b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_code['CONSUMO_codes'] = df_code['CONSUMO'].cat.codes
<ipython-input-7-9e1ae94d2c9b>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_code['CONSUMO_reversed'] = df_code['CONSUMO_codes'].map(consumo)

In [8]:
df_code['IDADE'] = df_code['IDADE'].astype('category')
idade = dict(enumerate(df_code['IDADE'].cat.categories))
df_code['IDADE_codes'] = df_code['IDADE'].cat.codes
df_code['IDADE_reversed'] = df_code['IDADE_codes'].map(idade)

<ipython-input-8-f73151834a9b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_code['IDADE'] = df_code['IDADE'].astype('category')
<ipython-input-8-f73151834a9b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_code['IDADE_codes'] = df_code['IDADE'].cat.codes
<ipython-input-8-f73151834a9b>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_code['IDADE_reversed'] = df_code['IDADE_codes'].map(idade)

In [9]:
df_code['LATITUDE'] = df_code['LATITUDE'].astype('category')
latitude = dict(enumerate(df_code['LATITUDE'].cat.categories))
df_code['LATITUDE_codes'] = df_code['LATITUDE'].cat.codes
df_code['LATITUDE_reversed'] = df_code['LATITUDE_codes'].map(latitude)

<ipython-input-9-998012a6c0e7>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_code['LATITUDE'] = df_code['LATITUDE'].astype('category')
<ipython-input-9-998012a6c0e7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_code['LATITUDE_codes'] = df_code['LATITUDE'].cat.codes
<ipython-input-9-998012a6c0e7>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_code['LATITUDE_reversed'] = df_code['LATITUDE_codes'].map(latitude)

In [10]:
df_code['LONGITUDE'] = df_code['LONGITUDE'].astype('category')
longitude= dict(enumerate(df_code['LONGITUDE'].cat.categories))
df_code['LONGITUDE_codes'] = df_code['LONGITUDE'].cat.codes
df_code['LONGITUDE_reversed'] = df_code['LONGITUDE_codes'].map(longitude)

<ipython-input-10-092d5b4d7e39>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_code['LONGITUDE'] = df_code['LONGITUDE'].astype('category')

In [11]:
df_code

,CONSUMO,RENDA,IDADE,LATITUDE,LONGITUDE,RENDA_codes,RENDA_reversed,CONSUMO_codes,CONSUMO_reversed,IDADE_codes,IDADE_reversed,LATITUDE_codes,LATITUDE_reversed,LONGITUDE_codes,LONGITUDE_reversed
0,SERVICO,"DE R$ 1.900,00 A R$ 3.800,00",40.0,-4.84758,-37.78439,0,"DE R$ 1.900,00 A R$ 3.800,00",17,SERVICO,19,40.0,7419,-4.84758,630,-37.78439
1,FARMACIAS,"DE R$ 3.800,00 A R$ 7.600,00",43.0,-26.99011814,-48.63716523,1,"DE R$ 3.800,00 A R$ 7.600,00",5,FARMACIAS,22,43.0,5675,-26.99011814,4813,-48.63716523
2,SERVICO,"DE R$ 3.800,00 A R$ 7.600,00",67.0,-5.053671016,-42.81315203,1,"DE R$ 3.800,00 A R$ 7.600,00",17,SERVICO,46,67.0,7445,-5.053671016,1940,-42.81315203
3,M.O.T.O.,"DE R$ 788,00 A R$ 1.140,00",46.0,-15.059042,-48.163372,2,"DE R$ 788,00 A R$ 1.140,00",11,M.O.T.O.,25,46.0,978,-15.059042,4518,-48.163372
4,M.O.T.O.,"DE R$ 788,00 A R$ 1.140,00",64.0,-17.694658,-42.52228,2,"DE R$ 788,00 A R$ 1.140,00",11,M.O.T.O.,43,64.0,1593,-17.694658,1832,-42.52228
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,VAREJO,"DE R$ 1.900,00 A R$ 3.800,00",42.0,-11.60937194,-47.04750645,0,"DE R$ 1.900,00 A R$ 3.800,00",20,VAREJO,21,42.0,423,-11.60937194,3910,-47.04750645
9996,SERVICO,"DE R$ 3.800,00 A R$ 7.600,00",41.0,-15.65049668,-47.79332059,1,"DE R$ 3.800,00 A R$ 7.600,00",17,SERVICO,20,41.0,1079,-15.65049668,4272,-47.79332059
9997,SERVICO,"DE R$ 788,00 A R$ 1.140,00",45.0,-8.330678649,-36.13689703,2,"DE R$ 788,00 A R$ 1.140,00",17,SERVICO,24,45.0,8166,-8.330678649,442,-36.13689703
9998,ARTIGOS ELETRO,"DE R$ 788,00 A R$ 1.140,00",36.0,NaN,NaN,2,"DE R$ 788,00 A R$ 1.140,00",2,ARTIGOS ELETRO,15,36.0,-1,NaN,-1,NaN
9999,ARTIGOS ELETRO,"DE R$ 3.800,00 A R$ 7.600,00",40.0,-15.787504,-48.139096,1,"DE R$ 3.800,00 A R$ 7.600,00",2,ARTIGOS ELETRO,19,40.0,1121,-15.787504,4501,-48.139096

In [12]:
df_codes=df_code[['IDADE_codes','RENDA_codes','CONSUMO_codes','LATITUDE_codes','LONGITUDE_codes']]

In [13]:
#Normalização com média 0 e desvio 1
normaliza = MinMaxScaler()

In [14]:
#Aplica a normalização
X_std = normaliza.fit_transform(df_codes)

In [15]:
df_codes

      IDADE_codes  RENDA_codes  CONSUMO_codes  LATITUDE_codes  LONGITUDE_codes
0              19            0             17            7419              630
1              22            1              5            5675             4813
2              46            1             17            7445             1940
3              25            2             11             978             4518
4              43            2             11            1593             1832
...           ...          ...            ...             ...              ...
9995           21            0             20             423             3910
9996           20            1             17            1079             4272
9997           24            2             17            8166              442
9998           15            2              2              -1               -1
9999           19            1              2            1121             4501

[10000 rows x 5 columns]

In [16]:
#transformando os dados normalizados em um dataframe
df_norma = pd.DataFrame(X_std, columns=['IDADE_codes','RENDA_codes','CONSUMO_codes','LATITUDE_codes','LONGITUDE_codes'])

In [17]:
#Realizando a aplicação do Kmeans
km = KMeans(n_clusters=4)
clusters = km.fit_predict(df_norma)
df_norma['CLUSTER'] = clusters
df_norma.head()

,IDADE_codes,RENDA_codes,CONSUMO_codes,LATITUDE_codes,LONGITUDE_codes,CLUSTER
0,0.219780,0.000000,0.809524,0.872531,0.074183,3
1,0.252747,0.333333,0.238095,0.667451,0.565953,1
2,0.516484,0.333333,0.809524,0.875588,0.228192,3
3,0.285714,0.666667,0.523810,0.115122,0.531272,2
4,0.483516,0.666667,0.523810,0.187441,0.215495,2

In [18]:
#retornando os dados
retorno = normaliza.inverse_transform(X_std)
retorno

array([[ 1.900e+01,  0.000e+00,  1.700e+01,  7.419e+03,  6.300e+02],
       [ 2.200e+01,  1.000e+00,  5.000e+00,  5.675e+03,  4.813e+03],
       [ 4.600e+01,  1.000e+00,  1.700e+01,  7.445e+03,  1.940e+03],
       ...,
       [ 2.400e+01,  2.000e+00,  1.700e+01,  8.166e+03,  4.420e+02],
       [ 1.500e+01,  2.000e+00,  2.000e+00, -1.000e+00, -1.000e+00],
       [ 1.900e+01,  1.000e+00,  2.000e+00,  1.121e+03,  4.501e+03]])

In [19]:
df_retorno = pd.DataFrame(retorno, columns=['IDADE_codes','RENDA_codes','CONSUMO_codes','LATITUDE_codes','LONGITUDE_codes'])
df_retorno['cluster'] = clusters
df_retorno.head()

,IDADE_codes,RENDA_codes,CONSUMO_codes,LATITUDE_codes,LONGITUDE_codes,cluster
0,19.0,0.0,17.0,7419.0,630.0,3
1,22.0,1.0,5.0,5675.0,4813.0,1
2,46.0,1.0,17.0,7445.0,1940.0,3
3,25.0,2.0,11.0,978.0,4518.0,2
4,43.0,2.0,11.0,1593.0,1832.0,2

In [20]:
df_retorno.to_csv('list_clusters.csv', index=False)

In [21]:
cluster_0 = df_retorno[df_retorno['cluster'] == 0]
cluster_1 = df_retorno[df_retorno['cluster'] == 1]
cluster_2 = df_retorno[df_retorno['cluster'] == 2]
cluster_3 = df_retorno[df_retorno['cluster'] == 3]

In [22]:
cluster_2 = cluster_2.astype('int8')
cluster_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2465 entries, 3 to 9991
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   IDADE_codes      2465 non-null   int8
 1   RENDA_codes      2465 non-null   int8
 2   CONSUMO_codes    2465 non-null   int8
 3   LATITUDE_codes   2465 non-null   int8
 4   LONGITUDE_codes  2465 non-null   int8
 5   cluster          2465 non-null   int8
dtypes: int8(6)
memory usage: 33.7 KB

In [23]:
cluster_0['CONSUMO_codes_reversed'] = cluster_0['CONSUMO_codes'].map(consumo)
cluster_0['RENDA_codes_reversed'] = cluster_0['RENDA_codes'].map(renda)
cluster_1['CONSUMO_codes_reversed'] = cluster_1['CONSUMO_codes'].map(consumo)
cluster_1['RENDA_codes_reversed'] = cluster_1['RENDA_codes'].map(renda)
cluster_2['CONSUMO_codes_reversed'] = cluster_2['CONSUMO_codes'].map(consumo)
cluster_2['RENDA_codes_reversed'] = cluster_2['RENDA_codes'].map(renda)
cluster_3['CONSUMO_codes_reversed'] = cluster_3['CONSUMO_codes'].map(consumo)
cluster_3['RENDA_codes_reversed'] = cluster_3['RENDA_codes'].map(renda)

<ipython-input-23-2fc3fce2b53e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cluster_0['CONSUMO_codes_reversed'] = cluster_0['CONSUMO_codes'].map(consumo)
<ipython-input-23-2fc3fce2b53e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cluster_0['RENDA_codes_reversed'] = cluster_0['RENDA_codes'].map(renda)
<ipython-input-23-2fc3fce2b53e>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cluster_1['CONSUMO_codes_reversed'] = cluster_1['CONSUMO_codes'].map(consumo)
<ipython-input-23-2fc3fce2b53e>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cluster_1['RENDA_codes_reversed'] = cluster_1['RENDA_codes'].map(renda)
<ipython-input-23-2fc3fce2b53e>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cluster_3['CONSUMO_codes_reversed'] = cluster_3['CONSUMO_codes'].map(consumo)
<ipython-input-23-2fc3fce2b53e>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cluster_3['RENDA_codes_reversed'] = cluster_3['RENDA_codes'].map(renda)

In [34]:
#cluster_1.shape
#cluster_1.isna().sum()

(3088, 7)

In [37]:
ind_list = list(cluster_0.index)
cluster0_original = df_final.iloc[ind_list]
cluster0_original

,CONSUMO,RENDA,IDADE,LATITUDE,LONGITUDE
9,ARTIGOS ELETRO,"DE R$ 1.900,00 A R$ 3.800,00",45.0,-12.99279,-38.46543
18,SERVICO,"DE R$ 3.800,00 A R$ 7.600,00",NaN,-22.895562,-43.278422
19,SERVICO,"DE R$ 1.900,00 A R$ 3.800,00",49.0,-18.45250818,-44.17324348
21,SERVICO,"DE R$ 1.900,00 A R$ 3.800,00",41.0,-18.18101889,-47.94993778
24,VESTUARIO,"DE R$ 3.800,00 A R$ 7.600,00",57.0,-22.96448667,-43.19038667
...,...,...,...,...,...
9988,ARTIGOS ELETRO,"DE R$ 3.800,00 A R$ 7.600,00",54.0,-2.51027,-44.30033
9995,VAREJO,"DE R$ 1.900,00 A R$ 3.800,00",42.0,-11.60937194,-47.04750645
9996,SERVICO,"DE R$ 3.800,00 A R$ 7.600,00",41.0,-15.65049668,-47.79332059
9998,ARTIGOS ELETRO,"DE R$ 788,00 A R$ 1.140,00",36.0,NaN,NaN
9999,ARTIGOS ELETRO,"DE R$ 3.800,00 A R$ 7.600,00",40.0,-15.787504,-48.139096

In [38]:
cluster0_original['cluster'] = pd.Series(0, index=cluster0_original.index)
cluster0_original

<ipython-input-38-f559d6961207>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cluster0_original['cluster'] = pd.Series(0, index=cluster0_original.index)

,CONSUMO,RENDA,IDADE,LATITUDE,LONGITUDE,cluster
9,ARTIGOS ELETRO,"DE R$ 1.900,00 A R$ 3.800,00",45.0,-12.99279,-38.46543,0
18,SERVICO,"DE R$ 3.800,00 A R$ 7.600,00",NaN,-22.895562,-43.278422,0
19,SERVICO,"DE R$ 1.900,00 A R$ 3.800,00",49.0,-18.45250818,-44.17324348,0
21,SERVICO,"DE R$ 1.900,00 A R$ 3.800,00",41.0,-18.18101889,-47.94993778,0
24,VESTUARIO,"DE R$ 3.800,00 A R$ 7.600,00",57.0,-22.96448667,-43.19038667,0
...,...,...,...,...,...,...
9988,ARTIGOS ELETRO,"DE R$ 3.800,00 A R$ 7.600,00",54.0,-2.51027,-44.30033,0
9995,VAREJO,"DE R$ 1.900,00 A R$ 3.800,00",42.0,-11.60937194,-47.04750645,0
9996,SERVICO,"DE R$ 3.800,00 A R$ 7.600,00",41.0,-15.65049668,-47.79332059,0
9998,ARTIGOS ELETRO,"DE R$ 788,00 A R$ 1.140,00",36.0,NaN,NaN,0
9999,ARTIGOS ELETRO,"DE R$ 3.800,00 A R$ 7.600,00",40.0,-15.787504,-48.139096,0

In [ ]:
cluster0_original['LATITUDE'].astype(float)

In [71]:
cluster0_original['LATITUDE'].describe()

count        2063
unique       2018
top       -18.755
freq            8
Name: LATITUDE, dtype: object

In [67]:
cluster0_original['CONSUMO'].describe()

count        3320
unique         22
top       SERVICO
freq         1199
Name: CONSUMO, dtype: object

In [68]:
cluster1_original['CONSUMO'].describe()

count        3086
unique         21
top       SERVICO
freq         1113
Name: CONSUMO, dtype: object

In [69]:
cluster2_original['CONSUMO'].describe()

count        2465
unique         22
top       SERVICO
freq          896
Name: CONSUMO, dtype: object

In [70]:
cluster3_original['CONSUMO'].describe()

count        1129
unique         20
top       SERVICO
freq          389
Name: CONSUMO, dtype: object

In [63]:
cluster0_original['RENDA'].describe()

count                             3320
unique                               4
top       DE R$ 1.900,00 A R$ 3.800,00
freq                              1718
Name: RENDA, dtype: object

In [64]:
#***
cluster1_original['RENDA'].describe()

count                             3086
unique                               2
top       DE R$ 1.900,00 A R$ 3.800,00
freq                              2611
Name: RENDA, dtype: object

In [65]:
#***
cluster2_original['RENDA'].describe()

count                           2465
unique                             3
top       DE R$ 788,00 A R$ 1.140,00
freq                            1934
Name: RENDA, dtype: object

In [66]:
cluster3_original['RENDA'].describe()

count                           1129
unique                             4
top       DE R$ 788,00 A R$ 1.140,00
freq                             617
Name: RENDA, dtype: object

In [72]:
cluster0_original['IDADE'].describe()

count    3295.000000
mean       51.694689
std        12.983840
min        21.000000
25%        43.000000
50%        48.000000
75%        56.000000
max       112.000000
Name: IDADE, dtype: float64

In [49]:
cluster0_original['IDADE'].min()

21.0

In [51]:
cluster0_original['IDADE'].max()

112.0

In [54]:
cluster1_original['IDADE'].min()

29.0

In [55]:
cluster1_original['IDADE'].max()

106.0

In [57]:
cluster2_original['IDADE'].min()

20.0

In [58]:
cluster2_original['IDADE'].max()

121.0

In [59]:
cluster3_original['IDADE'].min()

21.0

In [60]:
cluster3_original['IDADE'].max()

107.0

In [50]:
cluster0_original.describe()

             IDADE  cluster
count  3295.000000   3320.0
mean     51.694689      0.0
std      12.983840      0.0
min      21.000000      0.0
25%      43.000000      0.0
50%      48.000000      0.0
75%      56.000000      0.0
max     112.000000      0.0

In [26]:
ind_list = list(cluster_1.index)
cluster1_original = df_final.iloc[ind_list]
cluster1_original

,CONSUMO,RENDA,IDADE,LATITUDE,LONGITUDE
1,FARMACIAS,"DE R$ 3.800,00 A R$ 7.600,00",43.0,-26.99011814,-48.63716523
7,M.O.T.O.,"DE R$ 1.900,00 A R$ 3.800,00",40.0,-7.191076842,-48.19394263
11,M.O.T.O.,"DE R$ 3.800,00 A R$ 7.600,00",89.0,-28.29048,-52.8147
13,ARTIGOS ELETRO,"DE R$ 1.900,00 A R$ 3.800,00",34.0,-4.946685556,-48.39730667
15,SERVICO,"DE R$ 1.900,00 A R$ 3.800,00",57.0,-30.51519979,-53.49248021
...,...,...,...,...,...
9981,M.O.T.O.,"DE R$ 1.900,00 A R$ 3.800,00",56.0,-26.90481667,-49.04824444
9987,ARTIGOS ELETRO,"DE R$ 1.900,00 A R$ 3.800,00",44.0,-29.70755,-53.73949
9989,VAREJO,"DE R$ 1.900,00 A R$ 3.800,00",44.0,-23.6824345,-46.801669
9992,SERVICO,"DE R$ 1.900,00 A R$ 3.800,00",43.0,-29.68552641,-51.13958456
9994,VAREJO,"DE R$ 1.900,00 A R$ 3.800,00",43.0,-29.59037263,-51.21581579

In [28]:
cluster1_original['cluster'] = pd.Series(1, index=cluster1_original.index)
cluster1_original

<ipython-input-28-2bd03b53b8c0>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cluster1_original['cluster'] = pd.Series(1, index=cluster1_original.index)

,CONSUMO,RENDA,IDADE,LATITUDE,LONGITUDE,cluster
1,FARMACIAS,"DE R$ 3.800,00 A R$ 7.600,00",43.0,-26.99011814,-48.63716523,1
7,M.O.T.O.,"DE R$ 1.900,00 A R$ 3.800,00",40.0,-7.191076842,-48.19394263,1
11,M.O.T.O.,"DE R$ 3.800,00 A R$ 7.600,00",89.0,-28.29048,-52.8147,1
13,ARTIGOS ELETRO,"DE R$ 1.900,00 A R$ 3.800,00",34.0,-4.946685556,-48.39730667,1
15,SERVICO,"DE R$ 1.900,00 A R$ 3.800,00",57.0,-30.51519979,-53.49248021,1
...,...,...,...,...,...,...
9981,M.O.T.O.,"DE R$ 1.900,00 A R$ 3.800,00",56.0,-26.90481667,-49.04824444,1
9987,ARTIGOS ELETRO,"DE R$ 1.900,00 A R$ 3.800,00",44.0,-29.70755,-53.73949,1
9989,VAREJO,"DE R$ 1.900,00 A R$ 3.800,00",44.0,-23.6824345,-46.801669,1
9992,SERVICO,"DE R$ 1.900,00 A R$ 3.800,00",43.0,-29.68552641,-51.13958456,1
9994,VAREJO,"DE R$ 1.900,00 A R$ 3.800,00",43.0,-29.59037263,-51.21581579,1

In [29]:
ind_list = list(cluster_2.index)
cluster2_original = df_final.iloc[ind_list]
cluster2_original

,CONSUMO,RENDA,IDADE,LATITUDE,LONGITUDE
3,M.O.T.O.,"DE R$ 788,00 A R$ 1.140,00",46.0,-15.059042,-48.163372
4,M.O.T.O.,"DE R$ 788,00 A R$ 1.140,00",64.0,-17.694658,-42.52228
8,ARTIGOS ELETRO,"DE R$ 788,00 A R$ 1.140,00",63.0,-18.45146965,-43.74177915
12,SERVICO,"DE R$ 788,00 A R$ 1.140,00",53.0,-18.75454016,-44.42153297
14,VAREJO,"DE R$ 3.800,00 A R$ 7.600,00",51.0,-23.717175,-46.58640875
...,...,...,...,...,...
9975,ARTIGOS ELETRO,"DE R$ 3.800,00 A R$ 7.600,00",63.0,-23.16694463,-46.90988481
9983,SERVICO,"DE R$ 788,00 A R$ 1.140,00",93.0,-26.73983727,-53.51019455
9984,LOJA DE DEPART,"DE R$ 3.800,00 A R$ 7.600,00",63.0,-23.22976103,-46.88037603
9985,ARTIGOS ELETRO,"DE R$ 3.800,00 A R$ 7.600,00",72.0,-23.19156857,-46.851845
9991,SERVICO,"DE R$ 788,00 A R$ 1.140,00",40.0,-14.04174273,-52.15638364

In [30]:
cluster2_original['cluster'] = pd.Series(2, index=cluster2_original.index)
cluster2_original

<ipython-input-30-f070ea082f8b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cluster2_original['cluster'] = pd.Series(2, index=cluster2_original.index)

,CONSUMO,RENDA,IDADE,LATITUDE,LONGITUDE,cluster
3,M.O.T.O.,"DE R$ 788,00 A R$ 1.140,00",46.0,-15.059042,-48.163372,2
4,M.O.T.O.,"DE R$ 788,00 A R$ 1.140,00",64.0,-17.694658,-42.52228,2
8,ARTIGOS ELETRO,"DE R$ 788,00 A R$ 1.140,00",63.0,-18.45146965,-43.74177915,2
12,SERVICO,"DE R$ 788,00 A R$ 1.140,00",53.0,-18.75454016,-44.42153297,2
14,VAREJO,"DE R$ 3.800,00 A R$ 7.600,00",51.0,-23.717175,-46.58640875,2
...,...,...,...,...,...,...
9975,ARTIGOS ELETRO,"DE R$ 3.800,00 A R$ 7.600,00",63.0,-23.16694463,-46.90988481,2
9983,SERVICO,"DE R$ 788,00 A R$ 1.140,00",93.0,-26.73983727,-53.51019455,2
9984,LOJA DE DEPART,"DE R$ 3.800,00 A R$ 7.600,00",63.0,-23.22976103,-46.88037603,2
9985,ARTIGOS ELETRO,"DE R$ 3.800,00 A R$ 7.600,00",72.0,-23.19156857,-46.851845,2
9991,SERVICO,"DE R$ 788,00 A R$ 1.140,00",40.0,-14.04174273,-52.15638364,2

In [31]:
ind_list = list(cluster_3.index)
cluster3_original = df_final.iloc[ind_list]
cluster3_original

,CONSUMO,RENDA,IDADE,LATITUDE,LONGITUDE
0,SERVICO,"DE R$ 1.900,00 A R$ 3.800,00",40.0,-4.84758,-37.78439
2,SERVICO,"DE R$ 3.800,00 A R$ 7.600,00",67.0,-5.053671016,-42.81315203
5,ARTIGOS ELETRO,"DE R$ 788,00 A R$ 1.140,00",42.0,-5.033333,-44.441667
6,SERVICO,"DE R$ 788,00 A R$ 1.140,00",48.0,-3.61133186,-45.34258488
10,ARTIGOS ELETRO,"DE R$ 1.900,00 A R$ 3.800,00",45.0,-8.011778571,-34.88329592
...,...,...,...,...,...
9980,VAREJO,"DE R$ 788,00 A R$ 1.140,00",40.0,-3.276961392,-39.26755165
9982,ARTIGOS ELETRO,"DE R$ 1.900,00 A R$ 3.800,00",45.0,-8.3273228,-36.1367084
9990,LOJA DE DEPART,"DE R$ 788,00 A R$ 1.140,00",49.0,-7.979340811,-34.83757703
9993,ARTIGOS ELETRO,"DE R$ 1.900,00 A R$ 3.800,00",47.0,-3.789461,-38.49188727
9997,SERVICO,"DE R$ 788,00 A R$ 1.140,00",45.0,-8.330678649,-36.13689703

In [32]:
cluster3_original['cluster'] = pd.Series(3, index=cluster3_original.index)
cluster3_original

<ipython-input-32-467015611f8b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cluster3_original['cluster'] = pd.Series(3, index=cluster3_original.index)

,CONSUMO,RENDA,IDADE,LATITUDE,LONGITUDE,cluster
0,SERVICO,"DE R$ 1.900,00 A R$ 3.800,00",40.0,-4.84758,-37.78439,3
2,SERVICO,"DE R$ 3.800,00 A R$ 7.600,00",67.0,-5.053671016,-42.81315203,3
5,ARTIGOS ELETRO,"DE R$ 788,00 A R$ 1.140,00",42.0,-5.033333,-44.441667,3
6,SERVICO,"DE R$ 788,00 A R$ 1.140,00",48.0,-3.61133186,-45.34258488,3
10,ARTIGOS ELETRO,"DE R$ 1.900,00 A R$ 3.800,00",45.0,-8.011778571,-34.88329592,3
...,...,...,...,...,...,...
9980,VAREJO,"DE R$ 788,00 A R$ 1.140,00",40.0,-3.276961392,-39.26755165,3
9982,ARTIGOS ELETRO,"DE R$ 1.900,00 A R$ 3.800,00",45.0,-8.3273228,-36.1367084,3
9990,LOJA DE DEPART,"DE R$ 788,00 A R$ 1.140,00",49.0,-7.979340811,-34.83757703,3
9993,ARTIGOS ELETRO,"DE R$ 1.900,00 A R$ 3.800,00",47.0,-3.789461,-38.49188727,3
9997,SERVICO,"DE R$ 788,00 A R$ 1.140,00",45.0,-8.330678649,-36.13689703,3

In [33]:
df_concatenado = pd.concat([cluster0_original, cluster1_original, cluster2_original, cluster3_original])
df_concatenado

,CONSUMO,RENDA,IDADE,LATITUDE,LONGITUDE,cluster
9,ARTIGOS ELETRO,"DE R$ 1.900,00 A R$ 3.800,00",45.0,-12.99279,-38.46543,0
18,SERVICO,"DE R$ 3.800,00 A R$ 7.600,00",NaN,-22.895562,-43.278422,0
19,SERVICO,"DE R$ 1.900,00 A R$ 3.800,00",49.0,-18.45250818,-44.17324348,0
21,SERVICO,"DE R$ 1.900,00 A R$ 3.800,00",41.0,-18.18101889,-47.94993778,0
24,VESTUARIO,"DE R$ 3.800,00 A R$ 7.600,00",57.0,-22.96448667,-43.19038667,0
...,...,...,...,...,...,...
9980,VAREJO,"DE R$ 788,00 A R$ 1.140,00",40.0,-3.276961392,-39.26755165,3
9982,ARTIGOS ELETRO,"DE R$ 1.900,00 A R$ 3.800,00",45.0,-8.3273228,-36.1367084,3
9990,LOJA DE DEPART,"DE R$ 788,00 A R$ 1.140,00",49.0,-7.979340811,-34.83757703,3
9993,ARTIGOS ELETRO,"DE R$ 1.900,00 A R$ 3.800,00",47.0,-3.789461,-38.49188727,3
9997,SERVICO,"DE R$ 788,00 A R$ 1.140,00",45.0,-8.330678649,-36.13689703,3